<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Nishulka', root_path %> > help
    </div>
  </div>
</div>
<div class="container">
  <p>Nishulka which literally translates to "FREE" in Nepali is a free classified website where user can post ads. User need to have an account registered in order to be able to post ads.
    There are several categories and subcategories where users are able to create post. If you are completely new and don't know how to add a post then please follow the instructions given below:
  </p>
  <br>
  <p>1. Click on "Post An Ad"</p>
  <p>2. Login to your account or register a new one if you don't have any."</p>
  <p>3. Fill the "Create Ad" section with the ad details</p>
  <p>4. Click on Submit Ad"</p>
  <br>
    <p>Hello visitor, if you need any help or would like to contact us, then please send us an email at help@nishulka.com
    </p>
</div>
